.hero {
    background: #495e57;
    height: 100%;
    display: flex;
}

.hero-container {
    display: grid;
    grid-template-columns: 60fr 40fr;
    height: 100%;
    max-width: 65rem;
    padding: 2rem 0;
    align-items: center;
    column-gap: 2rem;
    margin: 0 auto;
}

.hero-text {
    margin: 0 1rem
}

.hero-img {
    margin: 0 3rem;
}

.image {
    border-radius: 16px;
}

.hero-text h1 {
    color: #f4ce14;
    font-size: 56px;
    font-weight: 500;
    font-family: 'Markazi Text', serif;
    margin:auto
}

.hero-text h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Markazi Text', serif;
    margin: auto;
}

.hero-text p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Markazi Text', serif;
    margin: auto;
    padding-right: 6rem;
}

.reserv-btn {
    width: 200px;
    height: 43px;
    border-radius: 16px;
    border: none;
    background-color: #f4ce14;
    color: black;
    font-size: 18px;
    font-family: 'Karla', serif;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s ease;
}

.reserv-btn:hover {
    transform: scale(1.03);
    transition: 0.1s ease;
}

@media screen and (max-width: 767px) {
    .hero-container {
        grid-template-columns: auto; /* Reset grid columns for mobile */
        column-gap: 0; /* Reset column gap for mobile */
        padding: 2rem 1rem; /* Adjust padding for mobile */
        text-align: center; /* Center align text for mobile */
    }

    .hero-text h1 {
        font-size: 28px; /* Adjust font size for mobile */
    }

    .hero-text h2 {
        font-size: 20px; /* Adjust font size for mobile */
    }

    .hero-text p {
        font-size: 16px; /* Adjust font size for mobile */
        padding: 0; /* Reset padding for mobile */
    }

    .hero-img {
        margin: 1rem auto; /* Adjust margin for mobile */
    }

    .image {
        border-radius: 16px;
        max-width: 100%; /* Allow images to scale down on mobile */
        height: auto; /* Automatically adjust height based on width */
    }

    .reserv-btn {
        width: 140px; /* Adjust button width for mobile */
        height: 38px; /* Adjust button height for mobile */
        font-size: 14px; /* Adjust font size for mobile */
    }

    .reserv-btn:hover {
        transform: none; /* Remove the scale effect on hover for mobile */
        transition: none; /* Remove transition for mobile */
    }
}