.footer-menu {
    background: #495e57;
    height: 100%;
    width: 100%;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 0 2rem 0;

}

.footer-logo {
    font-size: 25px;
    padding-top: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Markazi Text", serif;
    text-decoration: none;
    color: #ffffff;
}

.footer-logo:hover {
    color: #f4ce14;
}

.footer-container h3 {
    color: #f4ce14;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Karla', sans-serif;
    margin-bottom: 1rem;
    margin: 0 0 1rem 0;
}

.footer-list {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
    margin: 0.5rem 0;
    text-decoration: none;
    display: flex;
}

.footer-list:hover {
    color: #f4ce14;
}

.footer-link {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
}

.footer-socials li {
    margin: 0.5rem 0;
}

.footer-link:hover {
    color: #f4ce14;
}

.footer-sitemap {
    padding-right: 5rem;
}

.footer-contact {
    margin-left: 2rem;
}

.footer-socials {
    margin-left: 3rem;
}

@media screen and (max-width: 768px) {
    .footer-container {
        display: flex;
        align-items: center;
    }
    .footer-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-sitemap {
        padding-left: 1rem;
    }
    .footer-contact {
        margin-left: 1rem;
    }
    .footer-socials h3 {
        margin-left: 1rem;
    }
    .footer-link {
        padding-right: 3rem;
    }
}
